<html>
    <head>
      <title>Lion Cab</title>
      <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
      <link href="stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="container col-md-2 col-md-offset-5">
            <h1>Lion Cab!</h1>
            <img src="LIONCAB.jpg" alt="Lion Cab for Columbia Students!" style="width:165px;height:165px">
          </div>
        </div>
        <div class="row">
          <div class="container col-md-2 col-md-offset-5">
            <form method="post">
              <div class="form-group">
              <label>
              Name
                <!-- <label>Name</label> -->
                <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                </label>
              </div>
              <div class="form-group">
              <label>
                <!-- <label>UNI</label> -->
                UNI
                <input type="text" class="form-control" name="uni" id="uni" placeholder="UNI" required>
                </label>
              </div>
              <div class="form-group">
              <label>
                <!-- <label>Phone Number</label> -->
                Phone number
                <input type="tel" class="form-control" name="phone" id="phone" placeholder="Enter Phone" required>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" id="JFK" value="JFK">
                  JFK
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" id="LGA" value="LGA">
                  LaGuardia
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" id="EWR" value="EWR">
                  Newark
                </label>
              </div>
              <div class="form-group">
                <label>
                  Pick up date.
                  <input type="date" />
                </label>
              </div>
              <div class="form-group">
              <label>
                <!-- <label>UNI</label> -->
                Pick up time.
                <input type="text" class="form-control" name="time" id="time" placeholder="Enter your time." required>
                </label>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
        <div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
    </body>
</html>