<html>
    <head>
      <title>Lion Cab</title>
      <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
      <link href="stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="container col-md-2 col-md-offset-5">
            <h1 style="font-size:39;font-family:verdana">Lion Cab!</h1>
            <img src="LIONCAB.png" alt="Lion Cab for Columbia Students!" style="width:165px;height:165px">
          </div>
        </div>
        <div class="row">
          <div class="container col-md-2 col-md-offset-5">
            <form method="post">
              <div class="form-group">
              <label>
              Name
                <!-- <label>Name</label> -->
                <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                </label>
              </div>
              <div class="form-group">
              <label>
                <!-- <label>UNI</label> -->
                UNI
                <input type="text" class="form-control" name="uni" id="uni" placeholder="UNI" required>
                </label>
              </div>
              <div class="form-group">
              <label>
                <!-- <label>Phone Number</label> -->
                Phone number
                <input type="tel" class="form-control" name="phone" id="phone" placeholder="Enter Phone" required>
                </label>
              </div>


              <div id="destination">
              <label>
                Trip direction<br>
                <input type="radio" name="destination" value="airport" style="margin-right:10px">Airport to Columbia<br>
                <input type="radio" name="destination" value="columbia" style="margin-right:10px">Columbia to Airport<br>
                </label>
              </div>


              <div id="airport">
              <label>
                Airport<br>
                <input type="radio" name="airport" id="jfk" />
                  <label for="jfk"><img src="jfkpic1.png" alt="JFK airport" style="width:165px;height:165px" /></label>
                <input type="radio" name="airport" id="lga" />
                  <label for="lga"><img src="LGA.jpg" alt="LGA airport" style="width:165px;height:165px"/></label>
                <input type="radio" name="airport" id="ewr" />
                  <label for="ewr"><img src="EWR.jpg" alt="EWR airport" style="width:165px;height:165px"/></label>
                  </label>
              </div>
              <div class="form-group">
                <label>
                  Pick up date.
                  <input type="date" />
                </label>
              </div>
              <div class="form-group">
              <label>
                <!-- <label>UNI</label> -->
                Pick up time.
                <input type="text" class="form-control" name="time" id="time" placeholder="Enter your time." required>
                </label>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
        <div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
    </body>
</html>