extends layout

block content
    h1 Lioncab
    p
        | Welcome to Lioncab!
        br
        input(type="text", placeholder="Enter your UNI")
        br
        input(type="text", placeholder="Enter your name")
        br
        input(type="radio", name="airport", value="1", checked=airport=="jfk")
        | John F Kennedy
        input(type="radio", name="airport", value="0", checked=airport=="lga")
        |      LaGuardia
        input(type="radio", name="airport", value="0", checked=airoprt=="ewr")
        |      Newark
        br
        button(class="btn", data-action="bea").Be Submit