<html>
    <head>
      <title>Lion Cab</title>
      <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
      <link href="stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="container col-md-2 col-md-offset-5">
            <h1>Lion Cab</h1>
          </div>
        </div>
        <div class="row">
          <div class="container col-md-2 col-md-offset-5">
            <form>
              <div class="form-group">
                <!-- <label>Name</label> -->
                <input type="text" class="form-control" id="name" placeholder="Enter Name">
              </div>
              <div class="form-group">
                <!-- <label>UNI</label> -->
                <input type="text" class="form-control" id="uni" placeholder="Enter UNI">
              </div>
              <div class="form-group">
                <!-- <label>Phone Number</label> -->
                <input type="tel" class="form-control" id="phone" placeholder="Enter Phone">
              </div>
              <div class="radio">
                <label>
                  <input type="radio" id="JFK" value="JFK">
                  JFK
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" id="LGA" value="LGA">
                  LaGuardia
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" id="EWR" value="EWR">
                  Newark
                </label>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
        <div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
      <script src="js/bootstrap.min.js"></script>
    </body>
</html>